@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-container {
  display: flex;
  width: 1000px;
  height: 520px;
  background: #F1F1F1;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.left-section {
  flex: 1;
  padding: 40px;
  position: relative;
}

.right-section {
  flex: 1;
  background: #DDE4E6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.weather-details-box {
  width: 90%;
  max-width: 350px;
  height: 80%;
  background: #27737D;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: visible;
}

.weather-details-box h2 {
  font-size: 22px;
  padding: 0px;
  margin: 0px;
}

.weather-details-box h4 {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  color: #A8C6CB;
}

.weather-details-box .temperature {
  font-size: 80px;
  font-weight: bold;
  margin: 5px 0;
}

.weather-details-box .condition {
  font-size: 20px;
  margin: -20px;
}

.time {
  margin: 0px;
  color: #A8C6CB;
}

.weather-details-box img {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

.additional-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
}

.additional-details p {
  flex: 1;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #E8F1F2;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.city-input {
  flex: 1;
  padding-right: 50px;
  background-color: white;
}

.submit-button {
  position: absolute;
  right: 80px;
  background-color: #007d51 !important;
  color: white !important;
  font-size: 14px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.loading-spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #bdbdbd;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

.logoImg {
  margin-right: 400px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.city-list {
  list-style: none;
  background: white;
  border: 1px solid #ddd;
  position: absolute;
  top: 50px;
  left: 0;
  width: 82%;
  max-height: 180px;
  overflow-y: auto;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.city-list li {
  padding: 10px;
  cursor: pointer;
}

.city-list li:hover {
  background: #f1f1f1;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.city-info {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #707070;
  text-align: left;
  margin-top: 180px;
}

.city-info h3 {
  font-size: 14px;
  font-weight: 300;
  color: #707070;
  margin: 5px 0;
}

.main-title {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: 26px;
  color: #4F4F4F;
  text-align: left;
  line-height: 1.4;
  width: 280px;
  margin-bottom: 20px;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
}

.hourly-info p {
  margin: 3px 0;
  font-size: 14px;
}

.hourly-info p:first-child {
  font-size: 16px;
  color: #A8C6CB;
}

@media (max-width: 1200px) {
  .custom-container {
    height: 550px;
    margin-top: 50px;
  }

  .left-section {
    flex: none;
    width: 40%;
    height: 400px;
  }

  .right-section {
    height: 550px;

  }

  .weather-details-box {
    height: 80%;
    width: 80%;
  }

  .input-wrapper {
    width: 450px;
  }
}

@media (max-width: 768px) {
  .custom-container {
    flex-direction: column;
    height: 1200px;
    align-items: center;
    margin-top: 400px;
    width: 550px
  }

  .left-section {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
  }

  .right-section {
    width: 80%;
    order: 2;
    margin-top: 150px;
    height: 900px;
  }

  .weather-details-box {
    max-width: 90%;
    height: 450px;
  }

  .input-wrapper {
    width: 80%;
    margin-left: 60px;
  }

  .main-title {
    margin-right: 100px;
    margin-top: 20px;
  }

  .city-info {
    margin-top: 200px;
    margin-right: 100px;
  }
  .city-list{
    width: 360px;
  }
}

@media (max-width: 480px) {
  .custom-container {
    flex-direction: column;
    height: auto;
    width: 350px;
  }

  .input-wrapper {
    flex-direction: row;
    width: 350px;
  }

  .left-section {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    margin-left: 30px;
  }

  .right-section {
    margin-top: 0px;
    width: 300px;
    min-height: 400px;
  }

  .weather-details-box {
    max-width: 100%;
    padding: 15px;
    height: 90%;
  }

  .weather-details-box h2,
  .weather-details-box h4,
  .weather-details-box .condition {
    font-size: 10px;
  }

  .additional-details p {
    font-size: 14px;
  }

  .input-wrapper {
    padding-right: 40px;
  }

  .city-list {
    width: 270px;
  }

  .city-info {
    margin-top: 70px;
  }

  .weather-details-box img {
    display: none;
  }

  .main-title {
    margin-left: 50px;
  }

  .logoImg {
    margin-right: 250px;
  }
}